<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<title>自定义标签功能</title>
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" >
    <script src="js/seajs/1.3.1/sea.js" data-main="jsui"></script>
</head>

<body>
<include src="top.ejs" jsui="include"></include>
<!--begin main-->
<div class="main cl">
    <div class="con">
        <script type="text/tcl" data="blo1">
            {
                "title":"同步渲染",
                "module":[{
                    "title":"商品1",
                    "href":"#"
                    },{
                        "title":"商品1",
                        "href":"#"
                }]
            }
        </script>

            <script type="text/tcl" getdata="blo1" jsui="ejs">
                <div class="block blo1"  jsui="test">
                <div class="title"><%=title%></div>
                <div class="module">
                    <ul>
                        <% for(var i=0;i< module.length;i++){
                        var list=module[i];
                        %>
                        <li><a href="<%=list.href%>" title="<%=list.title%>"><%=list.title%></a></li>
                        <%}%>
                    </ul>
                </div>
                </div>
            </script>

        <script type="text/tcl" url="top.json" jsui="ejs">
            <div class="block blo1" jsui="test">
                <div class="title"><%=title%></div>
                <div class="module">
                    <ul>
                        <% for(var i=0;i< module.length;i++){
                        var list=module[i];
                        %>
                        <li><a href="<%=list.href%>" title="<%=list.title%>"><%=list.title%></a></li>
                        <%}%>
                    </ul>
                </div>
            </div>
        </script>

    </div>
</div>
<!--end main-->
</body>




</html>
